<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:beans="http://www.springframework.org/schema/beans"

	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc 
	    http://www.springframework.org/schema/mvc/spring-mvc.xsd
	    http://www.springframework.org/schema/context 
	    http://www.springframework.org/schema/context/spring-context-3.2.xsd
	    http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
		

	<!--Annotation-driven for registr DefaultAnnotationHandlerMapping and AnnotationMethodHandlerAdapter -->
	<mvc:annotation-driven />
 	<beans:bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<beans:bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	
	<beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/views/"/>
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>

	<beans:bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<beans:property name="basename" value="messages" />
		<beans:property name="defaultEncoding" value="UTF-8" />
	</beans:bean>

	<mvc:resources mapping="/resources/**" location="/resources/" />	
	
	<!--property connect to BD:name bd,port,username,password -->
	<beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"	destroy-method="close">
		<!--<beans:property name="defaultAutoCommit" value="true"/>-->
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url" value="jdbc:mysql://localhost:3306/service_station_management_system_db" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="" />
	</beans:bean>
	
	
	<!-- Hibernate 4 SessionFactory Bean definition -->
	<beans:bean id="hibernate4AnnotatedSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="annotatedClasses">
			<beans:list>
				<beans:value>com.expositds.servicestationmanagementsystem.model.ServiceStation</beans:value>
				<beans:value>com.expositds.servicestationmanagementsystem.model.ServiceStationCommentMark</beans:value>
				<beans:value>com.expositds.servicestationmanagementsystem.model.Stead</beans:value>
				<beans:value>com.expositds.servicestationmanagementsystem.model.Department</beans:value>
				<beans:value>com.expositds.servicestationmanagementsystem.model.DepartmentOrder</beans:value>
				<beans:value>com.expositds.servicestationmanagementsystem.model.Detail</beans:value>
				<beans:value>com.expositds.servicestationmanagementsystem.model.Employee</beans:value>
				<beans:value>com.expositds.servicestationmanagementsystem.model.EmployeeSecurityFeature</beans:value>
				<beans:value>com.expositds.servicestationmanagementsystem.model.Client</beans:value>
				<beans:value>com.expositds.servicestationmanagementsystem.model.ClientSecurityFeature</beans:value>
			</beans:list>
		</beans:property>
		
		<beans:property name="hibernateProperties">
			<beans:props>
				<beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</beans:prop>
				<beans:prop key="hibernate.show_sql">true</beans:prop>
				<beans:prop key="hibernate.format_sql">true</beans:prop>
				<beans:prop key="connection.pool_size">1</beans:prop>
				 <!--Cache get speed operation but more dengeres -->
				<beans:prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</beans:prop>
				<!--create new bd when start aplication-->
				<!--<beans:prop key="hibernate.hbm2ddl.auto">create</beans:prop>-->
			</beans:props>
		</beans:property>
	</beans:bean>
	
	<!-- for test -->
	<!--
	<beans:bean id="testObjectCreator" class="com.expositds.servicestationmanagementsystem.dao.TestObjectCreator">
		<beans:property name="testObjectCreator" ref="testObjectCreator"/>
	</beans:bean>
	 -->
	
	<beans:bean id="abstractEntityСommonDAO" class="com.expositds.servicestationmanagementsystem.dao.impl.AbstractEntityСommonDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	
	<!--dao for ServiceStation-->
	<beans:bean id="serviceStationDAO" class="com.expositds.servicestationmanagementsystem.dao.impl.ServiceStationDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	<!--service for ServiceStation-->
	<!--
	<beans:bean id="serviceStationService" class="com.expositds.servicestationmanagementsystem.service.impl.ServiceStationServiceImpl">
		<beans:property name="serviceStationDAO" ref="serviceStationDAO"></beans:property>
	</beans:bean>
	 -->
	
	<!--dao for ServiceStationCommentMark-->
	
	<beans:bean id="serviceStationCommentMarkDAO" class="com.expositds.servicestationmanagementsystem.dao.impl.ServiceStationCommentMarkDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	 
	<!--service for ServiceStationCommentMark-->
	<!--
	<beans:bean id="serviceStationCommentMarkService" class="com.expositds.servicestationmanagementsystem.service.impl.ServiceStationCommentMarkServiceImpl">
		<beans:property name="serviceStationCommentMarkDAO" ref="serviceStationCommentMarkDAO"></beans:property>
	</beans:bean>
	-->
	
	<!--dao for Stead-->
	<beans:bean id="steadDAO" class="com.expositds.servicestationmanagementsystem.dao.impl.SteadDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	<!--service for Stead-->
	<!--
	<beans:bean id="steadService" class="com.expositds.servicestationmanagementsystem.service.impl.SteadServiceImpl">
		<beans:property name="steadDAO" ref="steadDAO"></beans:property>
	</beans:bean>
	-->
	
	<!--dao for Department-->
	<beans:bean id="departmentDAO" class="com.expositds.servicestationmanagementsystem.dao.impl.DepartmentDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	<!--service for Department-->
	<!--
	<beans:bean id="departmentService" class="com.expositds.servicestationmanagementsystem.service.impl.DepartmentServiceImpl">
		<beans:property name="departmentDAO" ref="departmentDAO"></beans:property>
	</beans:bean>
	-->
	
	<!--dao for Department-->
	<beans:bean id="departmentOrderDAO" class="com.expositds.servicestationmanagementsystem.dao.impl.DepartmentOrderDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	<!--service for Department-->
	<!--
	<beans:bean id="departmentOrderService" class="com.expositds.servicestationmanagementsystem.service.impl.DepartmentOrderServiceImpl">
		<beans:property name="departmentOrderDAO" ref="departmentOrderDAO"></beans:property>
	</beans:bean>
	-->
	
	<!--dao for Detail-->
	<beans:bean id="detailDAO" class="com.expositds.servicestationmanagementsystem.dao.impl.DetailDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	<!--service for Detail-->
	<!--
	<beans:bean id="detailService" class="com.expositds.servicestationmanagementsystem.service.impl.DetailServiceImpl">
		<beans:property name="detailDAO" ref="detailDAO"></beans:property>
	</beans:bean>
	-->
	
	<!--dao for Employee-->
	<beans:bean id="employeeDAO" class="com.expositds.servicestationmanagementsystem.dao.impl.EmployeeDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	<!--service for Employee-->
	<!--
	<beans:bean id="employeeService" class="com.expositds.servicestationmanagementsystem.service.impl.EmployeeServiceImpl">
		<beans:property name="employeeDAO" ref="employeeDAO"></beans:property>
	</beans:bean>
	-->
	
	<!--dao for EmployeeSecurityFeature-->
	<beans:bean id="employeeSecurityFeatureDAO" class="com.expositds.servicestationmanagementsystem.dao.impl.EmployeeSecurityFeatureDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	<!--service for EmployeeSecurityFeature-->
	<!--
	<beans:bean id="employeeSecurityFeatureService" class="com.expositds.servicestationmanagementsystem.service.impl.EmployeeSecurityFeatureServiceImpl">
		<beans:property name="employeeSecurityFeatureDAO" ref="employeeSecurityFeatureDAO"></beans:property>
	</beans:bean>
	-->
	
	<!--dao for Client-->
	<beans:bean id="clientDAO" class="com.expositds.servicestationmanagementsystem.dao.impl.ClientDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	<!--service for Client-->
	<!--
	<beans:bean id="clientService" class="com.expositds.servicestationmanagementsystem.service.impl.ClientServiceImpl">
		<beans:property name="clientDAO" ref="clientDAO"></beans:property>
	</beans:bean>
	-->
	
	<!--dao for ClientSecurityFeature-->
	<beans:bean id="clientSecurityFeatureDAO" class="com.expositds.servicestationmanagementsystem.dao.impl.ClientSecurityFeatureDAOImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	<!--service for ClientSecurityFeature-->
	<!--
	<beans:bean id="clientSecurityFeatureService" class="com.expositds.servicestationmanagementsystem.service.impl.ClientSecurityFeatureServiceImpl">
		<beans:property name="clientSecurityFeatureDAO" ref="clientSecurityFeatureDAO"></beans:property>
	</beans:bean>
	-->
	
	<context:annotation-config/>
	
	<context:component-scan base-package="com.expositds.servicestationmanagementsystem">
		<context:include-filter type="regex" expression="com.expositds.servicestationmanagementsystem.dao.*"/>
		<context:include-filter type="regex" expression="com.expositds.servicestationmanagementsystem.service.*"/>
		<context:include-filter type="regex" expression="com.expositds.servicestationmanagementsystem.controller.*"/>
	</context:component-scan>
	
	<beans:bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>
	
</beans:beans>
